{% extends 'internship/base.html' %}

{% block body %}
<style>
    body {
        background-color: wheat;
    }
</style>
<div class="container" style="padding: 2%; margin-bottom: 2%; margin-top: 2%;background-color: white;">
    <h1>{{ company }}</h1>
    <img src="{{ company.company_logo.url }}" style="height: 200px; width: 200px;">
    <h4><strong>{{ company.type }} based company</strong></h4>
    <h4>Main Industry: {{ company.industry }}</h4>
</div>
{% if user.username != 'admin' %}
<div class="container">
    <a href="/email/" class="container btn btn-success">Apply</a>
</div>
{% endif %}
<div class="container">
    {% if user.username == 'admin' %}
    <a href="{% url 'internship:opening-add' company.id %}"><button class="btn btn-primary">Add Opening</button></a>
    {% endif %}
    <table class="table table-dark table-hover">
        <thead>
            <th>Title</th>
            <th>Positions</th>
            <th>Skills</th>
            <th>Stipend</th>
            <th>Duration(in months)</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for opening in company.opening_set.all %}
            <tr>
                <td>{{ opening.title }}</td>
                <td>{{ opening.positions }}</td>
                <td>{{ opening.skills }}</td>
                <td>{{ opening.stipend }}</td>
                <td>{{ opening.duration }}</td>
                <td>{{ opening.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}